
resources:
- type: compute.v1.network
  name: securenetwork
  properties:
    routingConfig:
      routingMode: "REGIONAL"
    autoCreateSubnetworks: false

- type: compute.v1.subnetwork
  name: securesubnetwork
  properties:
    network: $(ref.securenetwork.selfLink)
    privateIpGoogleAccess: false
    ipCidrRange: {{ properties["private_subnet"] }}
    region: {{ properties["region"] }}

- type: compute.v1.instance
  name: vm-bastionhost
  properties:
    tags:
      items: ["bastion"]
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/n1-standard-2
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: {{ env["deployment"] }}-bastion
        sourceImage: https://www.googleapis.com/compute/v1/projects/windows-cloud/global/images/family/windows-2016
    networkInterfaces:
    - network: $(ref.securenetwork.selfLink)
      subnetwork: $(ref.securesubnetwork.selfLink)
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default

- type: compute.v1.instance
  name: vm-securehost
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/n1-standard-2
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: {{ env["deployment"] }}-iis
        sourceImage: https://www.googleapis.com/compute/v1/projects/windows-cloud/global/images/family/windows-2016
    networkInterfaces:
    - network: $(ref.securenetwork.selfLink)
      subnetwork: $(ref.securesubnetwork.selfLink)
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
    metadata:
      items:
      - key: startup-script
        value: | 
          import-module servermanager
          add-windowsfeature web-server -includeallsubfeature
          echo '<!doctype html><html><body><h1>Hello World!</h1></body></html>' > C:\inetpub\wwwroot\index.html

- type: compute.v1.firewall
  name: securenetwork-rdp-bastion
  properties:
    targetTags: ["bastion"]
    network: $(ref.securenetwork.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed: 
    - IPProtocol: TCP
      ports: ["3389"]

- type: compute.v1.firewall
  name: securenetwork-allow-all-internal
  properties:
    network: $(ref.securenetwork.selfLink)
    sourceRanges: ["{{ properties["private_subnet"] }}"]
    allowed: 
    - IPProtocol: TCP
      ports: ["0-65535"]
    - IPProtocol: UDP
      ports: ["0-65535"]
    - IPProtocol: ICMP


